@media screen and (min-width: 960px)
  .root-container
    display: flex
    flex-direction: row

  .button-column
    display: flex
    width: 30%
    margin: 2%

  .content-column
    display: flex
    width: 98%
    margin: 2% 2% 2% 0

@media screen and (max-width: 960px)
  .root-container-mobile-devices
    display: flex
    flex-direction: column

  .button-column-mobile-devices
    display: flex
    width: 80%
    margin: auto

  .content-column-mobile-devices
    display: flex
    margin: auto

.button
  width: 98%
  margin: 1%

.buttons-on-card
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center

.button-on-card
  margin: 1%

.restaurant-cards-list
  width: 100%
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  justify-content: center

.example-card
  width: 330px
  margin: 2%
  background-color: antiquewhite

.restaurant-info
  display: flex
  flex-direction: column

.search-form
  width: 98%
  margin: 1%
