
.material-icons
  vertical-align: middle
  font-size: 20px
.bg-secondary
  color: #8B7F6E
mat-card
  width: 100%
.container-fluid
  height: max-content
  min-height: 100vh

mat-expansion-panel-header
  background-color: #8B7F6E  !important
mat-panel-description
  color: black

mat-panel-title
  width: 100%
  height: 100%

.row
  height: max-content
  min-height: 100vh
.layer2
  background: antiquewhite
  position: relative
  width: 100%
  height: max-content
  min-height: 100vh
.insideLayer2
  float: left
  position: relative
  width: 31%
  min-width: 400px
  height: auto
  margin: 10px
.forBorder
  padding-top: 10px
  padding-bottom: 8px
a
  float: right
.analysisDiv
  padding-left: 10px
  max-width: 230px
  padding-bottom: 20px
mat-accordion
  margin: 10px


.order-cards-list
  display: flex
  width: 100%
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  justify-content: center
