\:host
  display: flex
  flex-direction: column
  font-size: large
  margin: 2%

.dish-cards-list
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  justify-content: center


.basket-card
  height: 460px
  width: 360px
  margin: 20px 18px
  background-color: antiquewhite

.example-header-image-macdonalds
  background-size: cover
  background-image: url('https://c7.hotpng.com/preview/676/74/342/fast-food-mcdonald-s-logo-golden-arches-restaurant-mcdonalds.jpg')

.dish-info
  display: flex
  flex-direction: column

.search-form
  margin: 20px 18px 0 18px
  width: 300px

.align-center
  display: flex
  flex-direction: column
  flex-wrap: wrap
  align-items: center
  justify-content: center

.register-button
  margin-top: 2%
  font-size: large
  max-width: 500px
  min-width: 188px

.count
  height: 70%

.count-block
  display: flex
  flex-direction: row
  width: 100%

.count-buttons-block
  display: flex
  flex-direction: row
  position: relative


.dish-card-name
  min-width: 110px

.order-card
  height: auto
  width: 345px
  background-color: antiquewhite
  margin: auto

.example-tree-invisible
  display: none

.list-title
  font-size: large
  font-weight: bold

.cancel-button
  margin-left: 10px
  width: auto

.listImage
  object-fit: cover
  width: 363px
  height: 220px
  margin-left: -5.5%

.basket-empty
  margin: auto
  margin-top: 30px
  font-size: xx-large
