<h1 *ngIf="order === null && dishesFromBasket.length === 0" class="basket-empty">The basket is empty!</h1>

<mat-card *ngIf="order != null" class="order-card">
  <mat-card-header>
    <mat-card-title class="dish-card-name">Order №{{ order.id }}</mat-card-title>
    <mat-card-subtitle
      >Created at:
      {{ order.createdAt | date: 'dd.MM.yyyy HH:mm' }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <ng-container *ngIf="order.status !== 'ORDER_CANCELLED'; else canceled">
        <button color="primary" mat-flat-button>Status: {{ order.status | orderStatus }}</button>
        <button color="warn" class="cancel-button" (click)="handleCancelOrderClick(order.id)" mat-flat-button>
          Cancel
        </button>
      </ng-container>
      <ng-template #canceled
        ><button color="warn" mat-flat-button>Status: {{ order.status | orderStatus }}</button></ng-template
      >
      <mat-list-item>Order price: {{ order.check }}</mat-list-item>
      <mat-list-item>Phone: {{ order.phone }}</mat-list-item>
      <mat-list>
        <span class="list-title">Address:</span>
        <mat-list-item>City: {{ order.address.city }}</mat-list-item>
        <mat-list-item>Street: {{ order.address.street }}</mat-list-item>
        <mat-list-item>House: {{ order.address.house }}</mat-list-item>
        <mat-list-item>Flat: {{ order.address.flat }}</mat-list-item>
        <mat-list-item>Entrance: {{ order.address.entrance }}</mat-list-item>
        <mat-list-item>Floor: {{ order.address.floor }}</mat-list-item>
      </mat-list>

      <mat-list>
        <span class="list-title">Dishes:</span>
        <mat-list-item *ngFor="let dish of dishesFromOrderToDisplay | filter: searchText">
          {{ dish.mainDishInfo.dishName }}:
          {{ dish.count }}
        </mat-list-item>
      </mat-list>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-form-field *ngIf="dishesFromBasketToDisplay.length != 0" class="search-form" color="warn" appearance="fill">
  <mat-label>Search by name</mat-label>
  <input [(ngModel)]="searchText" matInput />
</mat-form-field>
<mat-list class="dish-cards-list d-flex justify-content-center">
  <mat-card class="basket-card" *ngFor="let item of dishesFromBasketToDisplay | filter: searchText">
    <mat-card-header>
      <div class="count-block">
        <div class="count-buttons-block">
          <button mat-icon-button (click)="handleUpdateDishCountClick(item.id, item.count - 1)">
            <mat-icon>remove</mat-icon>
          </button>
          <button class="count" mat-flat-button color="warn">Count: {{ item.count }}</button>
          <button mat-icon-button (click)="handleUpdateDishCountClick(item.id, item.count + 1)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <div mat-card-avatar class="example-header-image-macdonalds"></div>
      <mat-card-title class="dish-card-name">{{ item.mainDishInfo.dishName }}</mat-card-title>
      <mat-card-subtitle>{{ item.dishType }}</mat-card-subtitle>
    </mat-card-header>
    <img class="listImage" mat-card-image src="{{ item.dishImage }}" alt="Photo of a burger" />
    <mat-card-content>
      <div class="dish-info">
        <span matLine>Calories: {{ item.dishCalories }}</span>
        <span matLine>Cooking time: {{ item.dishCookingTimeMinutes }} min</span>
        <span matLine>Price: {{ item.mainDishInfo.dishPrice }}</span>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="handleDeleteDishFromBasketClick(item.id)">
        DELETE FROM ORDER
      </button>
    </mat-card-actions>
  </mat-card>
</mat-list>

<div class="align-center">
  <button
    *ngIf="dishesFromBasketToDisplay.length != 0"
    class="register-button"
    mat-raised-button
    color="warn"
    (click)="handleRegisterOrderClick()"
  >
    Register your order
  </button>
</div>
