<ng-container>
  <ng-container *ngIf="role === 'CLIENT' || role === 'COURIER' || role === 'ADMIN'; else anonymousMenu">
    <span>{{ username }}</span>
    <button class="none-outline" mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button class="none-outline" mat-menu-item (click)="handleLogoutClick()" routerLink="/auth/login">
        Log out
      </button>
    </mat-menu>
  </ng-container>

  <ng-template #anonymousMenu>
    <a mat-flat-button class="login-button" routerLink="/auth/login">
      Log In
    </a>
  </ng-template>
</ng-container>
