<!--<app-counter [value]="number" (valueChange)="number = $event"></app-counter>-->
<!--<app-counter [(value)]="number"></app-counter>-->
<app-counter
  [value]="number"
  (valueChange)="handleValueChange($event)"
>
</app-counter>

<div>
  Current value is {{number}}
</div>

<div *ngIf="number > 0">
  <span>Value > 0</span>
</div>

<div *ngIf="numbers.length > 0">
  <div
    *ngFor="let n of numbers; let i=index; trackBy: trackByFn"
    class="number"
  >
    {{i}}: 0x{{n.value}}
  </div>
</div>
