\:host
  display: flex
  flex-direction: column
  font-size: large
  margin: 2%

.restaurant-cards-list
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  justify-content: center

.example-card
  width: 330px
  margin: 2%
  background-color: antiquewhite

.restaurant-info
  display: flex
  flex-direction: column

.search-form
  min-width: 300px
  max-width: 50%
  margin: 1%
